# Data Science Tools and Ecosystem

In this notebook we will perform some basic functions to help us summarize the tools and ecosystems of data science.

__Objectives:__
+ know programming languages for data science
+ recognize libraries used in data science
+ learn which development environments we can use
+ Make simple arithmetic examples in Python

Some of the most used programming languages in data science are:
1. python
2. R
3. Julia
4. Java
5. C
6. C++

It is also necessary to know some of the libraries used to do data science, for example:

1. Numpy
2. Pandas
3. Tensorflow
4. Matplotlib
5. ggplot

|Data Science Tools|
|----|
|Visual studio code|
|Jupiter|
|RStudio|

### Next we will perform some arithmetic operations with the help of Python:

In [3]:
# This arithmetic expression is the simplest that we can solve by applying hierarchy of operations 
# since we find two operations grouped with the help of parentheses.
(3*4)+5

17

In [4]:
#Another example is converting minutes to hours, for which you just have to divide the minutes by 60
200/60

3.3333333333333335

## Author
Luis Alfonso Montes de Oca Bucio